.animated_text_section .text_container{
    text-align:center;
}
.animated_text_section .animation_content{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        margin:0 0 70px;
}
.animated_text_section .animation_content h2,.animated_text_section .animation_content span{
    margin:0;
}

.animated_text_section .large_heading h1{
    margin:0;
}
.animated_text_section .animited_text{
margin:0 8px;
}
.animated_text_section .animited_text span{
font-weight:600;
}
.animated_text_section .image_container img{
    width:100%;
    max-width:100% !important;
    margin-bottom: -20%;
    display: inline-block;
}

@media only screen and (max-width:480px){
    .animated_text_section .image_container img{
    margin-bottom: -27%;
}
.animated_text_section .animation_content{
        margin:0 0 50px;
}
}