.animated_text_section .text_container{
    text-align:center;
}
.animated_text_section .animation_content{
    display: flex;
        align-items: center;
        justify-content: center;
        margin:0 0 70px;
}
.animated_text_section .animation_content h2,.animated_text_section .animation_content span{
    margin:0;
}
.animated_text_section .animation_content .animited_text span.h2{
font-weight:700;
}
.animated_text_section .typewriter-wrapper{
    margin:0 5px;
 }
.animated_text_section .large_heading h1{
    margin:0;
}
.animated_text_section .image_container{

}
.animated_text_section .image_container img{
    width:100%;
    max-width:100% !important;
    margin-bottom: -20%;
    display: inline-block;
}