.text_with_bg_img {
  overflow: hidden;
    position: relative;
}
.text_with_bg_img .main_container {
  transform: scale(1);
  animation: row_bg_zoom_out 2s cubic-bezier(0.1, 0.2, 0.7, 1) forwards;
  overflow: hidden;
}
.text_with_bg_img .main_container img {
  width: 100%;
  max-width: 100% !important;
  /* height: 500px !important; */
  display: block;
  object-fit: cover;
  /* object-position: bottom; */
}
.text_with_bg_img .main_container.overlay_color {
  position: relative;
}
.text_with_bg_img .main_container.overlay_color::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  opacity: 0.3;
  z-index: 1;
  top: 0;
  left: 0;
}
.overlay_text {
  position: absolute;
  left: 15%;
  top: 35%;
  z-index: 2;
}

@keyframes row_bg_zoom_out {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
