@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*  font-family: "Hind", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*   font-family: "Varela Round", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Roboto", sans-serif; */

*,
:after,
:before {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 300;
}
.font-700 {
  font-weight: 700;
}
.font-600 {
  font-weight: 600;
}

.font-hind {
  font-family: 'Hind', sans-serif;
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}
.font-varela-round {
  font-family: 'Varela Round', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

html[lang^='ja'] body,
html[lang^='zh'] body,
html[lang^='ko'] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  margin: 0 0 1.5rem;
  line-height: 1.34;
}

strong {
  font-weight: 600;
}

/* Links */

a {
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
}

h1 {
  line-height: 1;
}

h2 {
  line-height: 1.15;
}

h3 {
  line-height: 1;
}

h4 {
  line-height: 1.33;
}

h5 {
  line-height: 1.6;
}

h6 {
  line-height: 1.6;
}

.small{
  font-size:16px;
}

/* Lists */

ul li,
ol li {
  font-size: 18px;
  line-height: 1.34;
}

ul ul,
ol ul,
ul ol,
ol ol {
  padding-left: 2.8rem;
}

ul.no-list {
  list-style: none;
}

/* Code Blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  display: block;
  width: 100%;
  line-height: 1.75em;
  font-weight: 400;
  color: #676767;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 4px solid #ffffff;
  margin: 20px auto;
}

/* Image Module */

img {
  max-width: 100%;
}

/* Horizontal Rules */

hr {
  border: 0 none;
  border-bottom: 2px solid #313f1f;
}

/* Subscripts and Superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
em {
  color: #8d7f6d;
}
/* Focus State */

:focus {
  outline: 0;
}

*:focus,
*:focus-within,
*:focus-visible {
  outline: 0;
}

.disable-focus-styles:focus {
  outline: none;
}

.has-overlay:after {
  content: '';
}
.has-overlay > div {
  position: relative;
  z-index: 2;
}

.background-size-100 {
  background-size: 100% !important;
}

/* Primary Button */

button,
.button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 0;
  /* margin: 0 0 1.5rem; */
  line-height: 20px;
  text-align: center;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled,
.button.button--secondary:disabled,
.button.button--simple:disabled {
  border: 1px solid #d0d0d0;
  pointer-events: none;
}

.button.button--secondary:disabled {
  background-color: inherit;
}

.button.button--simple:disabled {
  background-color: inherit;
  border: inherit;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 !important;
  position: relative;
  /* border-bottom: 1px solid #c6cacc;
  padding-bottom: 10px !important; */
}

.button.button--simple:after {
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid #122c41;
  padding-bottom: 10px !important; */
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
}

/* Button Icons */

.button svg {
  display: block;
  margin-right: 8px;
  order: 1;
  width: 10px;
  height: 15px;
  fill: currentColor;
  flex: 0 0 auto;
  /* position: relative;
  top: -1px; */
  opacity: 0;
}
.button.button--icon-left svg {
  order: 0;
}
.button.button--icon-right svg {
  margin-left: 8px;
  margin-right: 0;
  order: 1;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.button.button--icon-right:hover svg {
  transform: translate(4px, 0);
  opacity: 1;
}
.button.button--icon-right span {
  transition:
    opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1),
    transform 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  transform: translateX(0);
}
.button.button--icon-right:hover span {
  transform: translateX(-9px);
}

.button .custom-icon {
  order: 2;
}
.button:hover .custom-icon > svg path {
  fill: currentColor;
}
.button.button--secondary .custom-icon > svg path,
.button.button--simple .custom-icon > svg path {
  fill: currentColor;
}
.button.button--secondary:hover .custom-icon > svg path,
.button.button--simple:hover .custom-icon > svg path {
  fill: currentColor;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}

/* Base */

.hs-form-field {
  position: relative;
}

/* Form Title */

.form-title {
  margin: 0;
  text-align: center;
}

.form-title ~ div > form {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Labels */

.hs-form-field > label {
  display: block;
  margin-bottom: 0.35rem;
  text-align: left;
  width: auto;
}

/* Inputs */

.input {
  position: relative;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='file'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100% !important;
  font-family: var(--primary_font);
  height: 58px;
  border-bottom: 2px solid #e0e0e0 !important;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #313f1f !important;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='tel']::placeholder,
input[type='number']::placeholder {
  color: #555555; /* Adjust to your design */
}
select::-ms-expand {
  display: none;
}

fieldset {
  max-width: 100% !important;
}

/* Inputs - Checkbox/Radio */

form .inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0 0.7rem 0.7rem;
  padding: 0;
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.35rem;
  padding: 0;
  width: auto;
}

/* Inputs - Select */

.hs-fieldtype-select .input:after {
  content: '\25BE';
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* Inputs - Datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  content: '\01F4C5';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  border-radius: 0 !important;
}

/* Headings and Text */

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  line-height: 1.25;
}

/* Validation */

.hs-error-msg,
.hs-error-msgs {
  margin: 0;
}
.hs-error-msgs li label {
  padding: 2px 6px;
  border: 0;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.07);
  background: none repeat scroll 0 0 #fff;
  font-size: 14px;
  display: block;
}
.hs-error-msgs li {
  margin: 0;
}

/* Submit */

form input[type='submit'],
form .hs-button {
  cursor: pointer;
  display: block;
  letter-spacing: 0;
  margin: 0 0 1.5rem;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
  width: auto;
  padding: 15px 22px !important;
}
/* form .hs-button, form input[type=submit] {
    background-color: transparent !important;
    border: 2px solid #fff !important;
    width: auto;
    margin: 0 !important;
    padding: 14px 24px;
  } */
/* input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
select,
textarea {
  min-height: 47px !important;
} */
/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}

/* Inline Thank You Message */
.submitted-message {
  color: #000 !important;
  font-weight: 400 !important;
  padding: 0.2em 1em !important;
  border: 2px solid #46b450 !important;
  background-color: #fff !important;
  font-family:'Open Sans', sans-serif !important;
}

/* Tables */

table {
  border-spacing: 0;
  margin-bottom: 1rem;
}

th,
td {
  vertical-align: top;
}

tr:nth-child(odd) {
  background-color: #eff7ff;
}

thead th,
thead td {
  border: none;
  border-bottom-width: 2px;
}

thead th {
  vertical-align: bottom;
}
input::placeholder {
  color: #6e6a6a;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/*  -------------------------- Layout File ------------------------------- */

/* Responsive Grid */

.page-center,
.header__container,
.footer__container {
  max-width: 1366px;
  width: 100%;
  padding: 0 15px;
  float: none;
  margin: 0 auto;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: '';
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*='span'] {
  display: block;
  float: left;
  width: 100%;
  min-height: 1px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*='span']:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

.container-fluid {
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: '';
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 767px) {
  button,
  .button {
    font-size: 16px !important;
  }
  .row-fluid {
    width: 100%;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: '';
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.762430939%;
    *margin-left: 2.709239449638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*='span']:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 99.999999993%;
    *width: 99.9468085036383%;
  }

  .row-fluid .span11 {
    width: 91.436464082%;
    *width: 91.38327259263829%;
  }

  .row-fluid .span10 {
    width: 82.87292817100001%;
    *width: 82.8197366816383%;
  }

  .row-fluid .span9 {
    width: 74.30939226%;
    *width: 74.25620077063829%;
  }

  .row-fluid .span8 {
    width: 65.74585634900001%;
    *width: 65.6926648596383%;
  }

  .row-fluid .span7 {
    width: 57.182320438000005%;
    *width: 57.129128948638304%;
  }

  .row-fluid .span6 {
    width: 48.618784527%;
    *width: 48.5655930376383%;
  }

  .row-fluid .span5 {
    width: 40.055248616%;
    *width: 40.0020571266383%;
  }

  .row-fluid .span4 {
    width: 31.491712705%;
    *width: 31.4385212156383%;
  }

  .row-fluid .span3 {
    width: 22.928176794%;
    *width: 22.874985304638297%;
  }

  .row-fluid .span2 {
    width: 14.364640883%;
    *width: 14.311449393638298%;
  }

  .row-fluid .span1 {
    width: 5.801104972%;
    *width: 5.747913482638298%;
  }
}

@media (min-width: 1280px) {
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: '';
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*='span'] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.564102564%;
    *margin-left: 2.510911074638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*='span']:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }

  .row-fluid .span11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
  }

  .row-fluid .span10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
  }

  .row-fluid .span9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
  }

  .row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
  }

  .row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
  }

  .row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
  }

  .row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
  }

  .row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
  }

  .row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }

  .row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
  }

  .row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
  }
}

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

/* Visibilty Classes */

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Responsive Visibilty Classes */

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1139px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important ;
  }
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
}

.dnd-section .dnd-column {
  padding-left: 20px;
  padding-right: 20px;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bg-orange-line:after {
  background-color: #fe5000;
  bottom: -15px;
  content: '';
  display: inline-block;
  height: 70%;
  left: -15px;
  position: absolute;
  width: 70%;
  z-index: 1;
  height: 60%;
  width: 60%;
  z-index: -1;
}
.slick-dotted {
  margin-bottom: 30px;
}
.slick-dotted .slick-dots {
  bottom: -74px;
  left: 0;
}

.has-overlay .page-center {
  position: relative;
  z-index: 1;
}

.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}
.heading-section {
  text-align: center;
  margin-bottom: 40px;
}
.heading-section h1,
.heading-section h2 {
  margin: 0;
}

.content-center {
  margin: 0 auto;
}
.content-right {
  margin-left: auto;
}
.content-left {
  margin-right: auto;
}
/* Desktop: switch visibility */
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inline-block; /* adjust depending on layout */
  }
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding-left: 0;
    padding-right: 0;
  }
  .page-center,
  .header__container,
  .footer__container {
    padding: 0 15px;
  }
  .button {
    padding: 14px 18px !important;
  }
  .heading-section {
    margin-bottom: 25px;
  }
}

/* Css for popup Image */

.__react_modal_image__medium_img {
  width: auto !important;
  max-height: 80% !important;
}

.__react_modal_image__header {
  background-color: transparent !important;
}

.__react_modal_image__caption {
  display: none !important;
}


/* animated sec */
.animated_text_section .animation_content .animited_text span.h2{
font-weight:700;
}
.animated_text_section .Typewriter{
    margin:0 8px;
 }