
{% set form_submit_size = theme.global.forms.submit.button_size %}

:root{
  --form_submit_size: {{form_submit_size}};
}


/*  ----------------  Containers / Grid / DnD Areas  -----------------  */

.content-wrapper, .page-center, .footer__container, .header__container {
  max-width: var(--container_width);
}

@media screen and (min-width: var(--bp_xlarge)) {
  .content-wrapper {
    padding: 0;
  }
}

.content-wrapper--narrow {
  max-width: var(--container_width_narrow);
}

@media screen and (min-width: var(--bp_narrow)) {
  .content-wrapper--narrow {
    padding: 0;
  }
}

.dnd-section,
.content-wrapper--blog-index,
.content-wrapper--blog-post {
  padding:var(--dnd_section_padding);
}

.dnd-section > .row-fluid {
  max-width: var(--container_width);
}
/*  ----------------  Typography  -----------------  */

html {
  font-size: var(--base_font_size);
}

body {
  background-color: var(--body_bg_color);
  color: var(--body_font);
  font-size: var(--base_font_size);
}

/*  ----------------  Paragraphs  -----------------  */

p, li {
  color: var(--primary_font_color);
  font-size: var(--base_font_size);
  font-family: var(--primary_font);
  font-weight: var(--primary_font_weight);
}

p.lead,
p.intro {
  font-size: var(--lead_paragraph_size);
}

a {
  font-family: var(--anchor_font);
  font-style: normal;
  font-weight: var(--anchor_font_weight);
  text-decoration: none;
  color: var(--anchor_color);
}

a:hover, a:focus {
  font-family: var(--anchor_font);
  font-style: normal;
  font-weight: var(--anchor_font_weight);
  text-decoration: none;
  color: var(--anchor_font_hover);
}

/*  ----------------  Headings  -----------------  */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--headings_font_color);
  font-family: var(--headings_font);
  font-weight: var(--headings_font_variant);
  font-style: normal;
  text-transform: none;
}

h1, .h1{
  font-family: var(--h1__font);
  font-style: var(--h1__fontStyle);
  font-weight: var(--h1__fontWeight);
  letter-spacing: var(--h1__fontLetterSpacing);
  text-transform: var(--h1__fontTextTransform);
  font-size: var(--h1__fontSize);
}

h2, .h2{
  font-family: var(--h2__font);
  font-style: var(--h2__fontStyle);
  font-weight: var(--h2__fontWeight);
  letter-spacing: var(--h2__fontLetterSpacing);
  text-transform: var(--h2__fontTextTransform);
  font-size: var(--h2__fontSize);
}

h3, .h3{
  font-family: var(--h3__font);
  font-style: var(--h3__fontStyle);
  font-weight: var(--h3__fontWeight);
  letter-spacing: var(--h3__fontLetterSpacing);
  text-transform: var(--h3__fontTextTransform);
  font-size: var(--h3__fontSize);
}

h4, .h4{
  font-family: var(--h4__font);
  font-style: var(--h4__fontStyle);
  font-weight: var(--h4__fontWeight);
  letter-spacing: var(--h4__fontLetterSpacing);
  text-transform: var(--h4__fontTextTransform);
  font-size: var(--h4__fontSize);
}

h5, .h5{
  font-family: var(--h5__font);
  font-style: var(--h5__fontStyle);
  font-weight: var(--h5__fontWeight);
  letter-spacing: var(--h5__fontLetterSpacing);
  text-transform: var(--h5__fontTextTransform);
  font-size: var(--h5__fontSize);
}

h6, .h6{
  font-family: var(--h6__font);
  font-style: var(--h6__fontStyle);
  font-weight: var(--h6__fontWeight);
  letter-spacing: var(--h6__fontLetterSpacing);
  text-transform: var(--h6__fontTextTransform);
  font-size: var(--h6__fontSize);
  color: var(--h6__fontColor);
}

/*-=-=- Only Desktop CSS -=-=-*/
@media (max-width:1199px ) {
  .display_2 {font-size: 64px;}
  h1,.h1 { font-size: var(--h1__font_l); }
  h2,.h2 { font-size: var(--h2__font_l); }
  h3,.h3 { font-size: var(--h3__font_l); }
  h4,.h4 { font-size: var(--h4__font_l); }
  h5,.h5 { font-size: var(--h5__font_l); }
  h6,.h6 { font-size: var(--h6__font_l); }
}

/*-=-=- Smaller Desktop Devices -=-=-*/
@media (max-width:991px ) {
  .display_2 {font-size: 56px;}
  h1,.h1 { font-size: var(--h1__font_t); }
  h2,.h2 { font-size: var(--h2__font_t); }
  h3,.h3 { font-size: var(--h3__font_t); }
  h4,.h4 { font-size: var(--h4__font_t); }
  h5,.h5 { font-size: var(--h5__font_t); }
  h6,.h6 { font-size: var(--h6__font_t); }
}

/*-=-=-  Mobile Devices -=-=-*/
@media (max-width:767px ) {
  .display_2 {font-size: 42px;}
  h1,.h1 { font-size: var(--h1__font_m); }
  h2,.h2 { font-size: var(--h2__font_m); }
  h3,.h3 { font-size: var(--h3__font_m); }
  h4,.h4 { font-size: var(--h4__font_m); }
  h5,.h5 { font-size: var(--h5__font_m); }
  h6,.h6 { font-size: var(--h6__font_m); }
  p { font-size: 16px; }
}

/*  ----------------  Lists  -----------------  */

ul,
ol {
  margin: var(--list_margin);
  padding-left: var(--list_padding);
}

ul li,
ol li {
  margin: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}


/*  ----------------  Blockquote  -----------------  */

blockquote {
  border-left: var(--blockquote_border);
  padding-left: var(--blockquote_padding);
  font-family: var(--primary_font);
}

/*  ----------------  Horizontal Rules  -----------------  */

hr {
  border-bottom-color: {{ hr_color }};
}


/*  ----------------  Buttons  -----------------  */

/* Primary Button */

button,
.button {
  /* {{ button_primary_font.style }}; */
  font-family: var(--button_primary_font);
  font-weight: var(--button_primary_font_weight);
  background-color: var(--button_primary_bg_color);
  border: var(--button_primary_border);
  border-radius: var(--button_primary_corner_radius);
  color: var(--button_primary_font_color);
  fill: var(--button_primary_font_color);
  font-size: var(--button_regular_font_size);
  padding: var(--button_regular_spacing);
  text-transform: var(--button_primary_text_transform);
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active {
  font-family: var(--button_primary_font_hover);
  font-weight: var(--button_primary_font_hover_weight);
  background-color: var(--button_primary_bg_color_hover);
  border: var(--button_primary_border_hover);
  color: var(--button_primary_font_hover_color);
}

 button:active,
.button:active {
  background-color: var(--button_primary_bg_color_active);
  border: var(--button_primary_border_hover);
  border-color: var(--button_primary_border_active);
  color: var(--button_primary_font_hover_color);
} 

/* Secondary Button */

.button.button--secondary {
   /* {{ button_secondary_font.style }}; */
  font-family: var(--button_secondary_font);
  font-weight: var(--button_secondary_font_weight);
  background-color: var(--button_secondary_bg_color);
  border: var(--button_secondary_border);
  border-radius: var(--button_secondary_corner_radius);
  color: var(--button_secondary_font_color);
  fill: var(--button_secondary_font_color);
  font-size: var(--button_regular_font_size);
  padding: var(--button_regular_spacing);
  text-transform: var(--button_secondary_text_transform);
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
  font-family: var(--button_secondary_font_hover);
  font-weight: var(--button_secondary_font_hover_weight);
  background-color: var(--button_secondary_bg_color_hover);
  border: var(--button_secondary_border_hover);
  color: var(--button_secondary_font_hover_color);
}




/* Disabled Button */

button:disabled,
.button:disabled,
.button.button--secondary:disabled,
.button.button--simple:disabled {
  color: var(--button_disabled_color)
}

button:disabled,
.button:disabled {
  background-color: var(--button_disabled_bg_color);
}

.button.button--simple {
  font-family: var(--button_simple_font);
  font-weight: var(--button_primary_font_hover_weight);
  color: var(--button_simple_font_color);
  text-transform: var(--button_simple_text_transform);
}


/* .button.button--simple:after {
  background-color: var(--button_simple_underline_background);
  bottom: var(--button_simple_underline_bottom);
  content: '';
  height: var(--button_simple_underline_height);
} */

.button.button--simple:hover,
.button.button--simple:focus {
  font-family: var(--button_simple_font_hover);
  font-weight: var(--button_simple_font_hover_weight);
  color: var(--button_simple_font_hover_color);
  fill: var(--button_simple_font_hover_color);
  opacity:0.8;
}

.button.button--small {
  font-size: var(--button_small_font_size);
  padding: var(--button_small_spacing);
}

.button.button--large {
  font-size: var(--button_large_font_size);
  padding: var(--button_large_spacing);
}


/*  ----------------  Forms  -----------------  */


form {
  background-color: var(--form_bg_color);
  border: var(--form_border);
  border-radius: var(--form_corner_radius);
  padding: var(--form_padding);
}

.hs-form-field {
  margin-bottom: var(--form_field_spacing);
}

/* Form Title */

.form-title {
  font-family: var(--form_title_font);
  font-weight: var(--form_title_font_weight);
  background-color: var(--form_title_bg_color);
  border: var(--form_title_border);
  border-top-left-radius: var(--form_title_corner_radius);
  border-top-right-radius: var(--form_title_corner_radius);
  color: var(--form_title_font_color);
  font-size: var(--form_title_font_size);
  padding: var(--form_title_padding);
  text-transform: var(--form_title_text_transform);
}

/* Labels */

.hs-form-field > label,
.hs-form-field > label span {
  font-family: var(--form_label_font);
  font-weight: var(--form_label_font_weight);
  color: var(--form_label_color);
  font-size: var(--form_label_size);
  padding: var(--form_label_padding);
}

/* Help Text - Legends */

.hs-form-field legend {
  font-family: var(--form_label_font);
  font-weight: var(--form_label_font_weight);
  color: var(--form_help_text_color);
  font-size: var(--form_help_text_size);
}

/* Inputs */

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
select,
textarea {
  background-color: var(--form_input_bg_color);
  border: var(--form_input_border);
  border-radius: var(--form_input_corner_radius);
  color: var(--form_input_color);
  font-size: var(--form_input_font_size);
  padding: var(--form_input_padding) !important;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='file']:focus,
select:focus,
textarea:focus {
  outline-color: var(--primary_color);  
}

::-webkit-input-placeholder {
  color: var(--form_input_placeholder_color);
}

::-moz-placeholder {
  color: var(--form_input_placeholder_color);
}

:-ms-input-placeholder {
  color: var(--form_input_placeholder_color);
}

:-moz-placeholder {
  color: var(--form_input_placeholder_color);
}

::placeholder {
  color: var(--form_input_placeholder_color);
}

/* Inputs - Checkbox/Radio */

form .inputs-list:not(.no-list) label,
form .inputs-list:not(.no-list) label > span,
form .inputs-list:not(.no-list) label > span p {
  font-family: var(--form_checkbox_radio_font);
  font-weight: var(--form_checkbox_radio_font_weight);
  color: var(--form_checkbox_radio_font_color);
  font-size: var(--form_checkbox_radio_font_size);
}

/* Inputs - Datepicker */

.fn-date-picker .pika-table thead th {
  background-color: var(--table_head_bg_color);
  color: var(--table_head_font_color );
}

.fn-date-picker td.is-today .pika-button {
  color: var(--table_font_color);
}

.hs-datepicker .is-selected button.pika-button {
  background-color: var(--secondary_color);
  color: var(--table_font_color);
}

.hs-datepicker button.pika-button:hover {
  background-color: var(--primary_color) !important;
}

/* Form Rich Text */

form .hs-richtext,
form .hs-richtext *,
form .hs-richtext p,
form .hs-richtext h1,
form .hs-richtext h2,
form .hs-richtext h3,
form .hs-richtext h4,
form .hs-richtext h5,
form .hs-richtext h6 {
  {{ form_rich_text_font.style }};
  color: {{ form_rich_text_font.color }};
}

/* GDPR Text */

form .legal-consent-container,
form .legal-consent-container .hs-richtext,
form .legal-consent-container .hs-richtext p {
  font-family: var(--form_rich_text_font);
  font-weight: var(--form_rich_text_font_weight);
  color: var(--form_rich_text_font_color);;
  font-size: var(--form_rich_text_font_size);
}

/* Validation */

.hs-input.invalid.error {
  border-color: #6b973f;
}

.hs-error-msg,
.hs-error-msgs {
  color: #6b973f;
}

/* Submit */


form input[type='submit'],
form .hs-button {
  font-family: var(--form_button_font);
  font-weight: var(--form_button_font_weight);
  background-color: var(--form_button_bg_color);
  border: var(--form_button_border);
  border-radius: var(--form_button_corner_radius);
  color: var(--form_button_font_color);
  fill: var(--form_button_font_color);
  text-transform: var(--form_button_text_transform);
}

form input[type='submit']:hover,
form input[type='submit']:focus,
form .hs-button:hover,
form .hs-button:focus {
  font-family: var(--form_button_font_hover);
  font-weight: var(--form_button_font_hover_weight);
  background-color: var(--form_button_bg_color_hover);
  border: var(--form_button_border_hover);
  color: var(--form_button_font_hover_color);
}

form input[type='submit']:active,
form .hs-button:active {
  background-color: var(--form_button_bg_color_active);
  border: var(--form_button_border_hover);
  border-color: var(--form_button_border_active);
  color: var(--form_button_font_hover_color);
}


{% if form_submit_size == "small" %}

form input[type='submit'],
form .hs-button {
  font-size: var(--button_small_font_size);
  padding: var(--button_small_spacing);
}

{% elif form_submit_size == "regular" %}

form input[type='submit'],
form .hs-button {
  font-size: var(--button_regular_font_size);
  padding: var(--button_regular_spacing);
}

{% elif form_submit_size == "large" %}

form input[type='submit'],
form .hs-button {
  font-size: var(--button_large_font_size);
  padding: var(--button_large_spacing);
}

{% endif %}

/* Inline Thank You Message */

.submitted-message {
  background-color: var(--form_bg_color);
  border: var(--form_border);
  border-radius: var(--form_corner_radius);
  padding: var(--form_padding);
}



/*  ----------------  Tables  -----------------  */

table {
  background-color: var(--table_bg_color);
  border: var(--table_border);
}

th,
td {
  border: var(--table_border);
  color: var(--table_font_color);
  padding: var(--table_padding);
}

thead th,
thead td {
  background-color: var(--table_head_bg_color);
  border-bottom: var(--table_head_border);
  color: var(--table_head_font_color);
}

tbody + tbody {
  border-top: var(--table_head_border);
}



/*  ----------------  Site Header  -----------------  */

.header {
  background-color: var(--header_bg_color);
  border-bottom: var(--header_border);
}

.header__container {
  max-width: var(--container_width);
}

/* Header Content */

.header p,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header span,
.header div,
.header li,
.header blockquote,
.header .related-post__title a {
  color: var(--header_content_color);
}

/* Logo */

.header__logo .logo-company-name {
  color: var(--header_content_color);
}

/* Navigation Menu */

.header__menu .hs-menu-item a {
  /* {{ header_primary_nav_font.style }}; */
  font-family: var(--header_primary_nav_font);
  font-weight: var(--header_primary_nav_font_weight);
  color: var(--header_primary_nav_font_color);
  font-size: var(--header_primary_nav_font_size);
  text-transform: var(--header_primary_nav_text_transform);
}

.header__menu .hs-menu-item a:hover,
.header__menu .hs-menu-item a:focus {
  /* {{ header_primary_nav_font_hover.style }}; */
  font-family: var(--header_primary_nav_font_hover);
  font-weight: var(--header_primary_nav_font_hover_weight);
  color: var(--header_primary_nav_font_hover_color)
}

.header__menu .hs-menu-item a:active {
  /* {{ header_primary_nav_font_active.style }}; */
  font-family: var(--header_primary_nav_font_active);
  font-weight: var(--header_primary_nav_font_active_weight);
  color: var(--header_primary_nav_font_active_color);
}

.header__menu .hs-menu-children-wrapper {
  background-color: var(--header_primary_nav_font_color);
}

.header__menu .hs-menu-children-wrapper .hs-menu-item a {
  color: var(--header_primary_nav_font_color);
}

.header__menu .hs-menu-children-wrapper .hs-menu-item a:hover,
.header__menu .hs-menu-children-wrapper .hs-menu-item a:focus {
  /* {{ header_primary_nav_font_hover.style }}; */
  font-family: var(--header_primary_nav_font_hover);
  font-weight: var(--header_primary_nav_font_hover_weight);
  background-color:var(--header_primary_nav_font_active_color);
  color: var(--header_bg_color);
}

.header__menu .hs-menu-children-wrapper .hs-menu-item a:active {
  /* {{ header_primary_nav_font_active.style }}; */
  font-family: var(--header_primary_nav_font_active);
  font-weight: var(--header_primary_nav_font_active_weight);
  background-color: var(--header_primary_nav_font_active_color);
  color: var(--header_bg_color);
}



/*  ----------------  Site Footer  -----------------  */

.footer__site_page {
  background-color: var(--footer_bg_color);
  border-top: var(--footer_border);
}

.footer__site_page {
  background-color: var(--footer_bg_color);
}

.footer__container {
  max-width: var(--container_width);
}


/* Footer Content */

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p,
footer a:not(.button),
footer div,
footer span,
footer blockquote,
footer .related-post__title a {
  color: var(--footer_content_color);
}
footer svg {
  fill: var(--footer_content_color);
}

{% if custom_heading_styles %}

.footer__site_page h4 {
  font-family: var(--footer_menu_title_font);
  font-weight: var(--footer_menu_title_weight);
  font-size: var(--footer_menu_title_size);
  letter-spacing: var(--footer_menu_title_letter_spacing);
  text-transform: var(--footer_menu_title_transform);
}

{% endif %}

/* Footer Menu */

footer .hs-menu-item a {
  font-family: var(--footer_primary_nav_font);
  font-weight: var(--footer_primary_nav_font_weight);
  color: var(--footer_primary_nav_font_color);
  font-size: var(--footer_primary_nav_font_size);
  text-transform: var(--footer_primary_nav_text_transform);
}

footer .hs-menu-item a:hover,
footer .hs-menu-item a:focus {
  font-family: var(--footer_primary_nav_font_hover);
  font-weight: var(--footer_primary_nav_font_weight_hover);
  color: var(--footer_primary_nav_font_hover_color);
}

footer .hs-menu-item a:active {
  font-family: var(--footer_primary_nav_font_active);
  font-weight: var(--footer_primary_nav_font_weight_active);
  color: var(--footer_primary_nav_font_color_active);
}

/* Form Module */

.footer__site_page .form-title,
.footer__site_page form .hs-richtext,
.footer__site_page form .hs-richtext *,
.footer__site_page form .hs-richtext p,
.footer__site_page form .hs-richtext h1,
.footer__site_page form .hs-richtext h2,
.footer__site_page form .hs-richtext h3,
.footer__site_page form .hs-richtext h4,
.footer__site_page form .hs-richtext h5,
.footer__site_page form .hs-richtext h6,
.footer__site_page .hs-form-field > label,
.footer__site_page .hs-form-field > label span,
.footer__site_page .hs-form-field legend,
.footer__site_pageform .inputs-list:not(.no-list) label,
.footer__site_page form .inputs-list:not(.no-list) label > span,
.footer__site_page form .inputs-list:not(.no-list) label > span p {
  color: var(--footer_content_color)
}

/* Social Follow Module */

.footer__site_page .social-links__icon svg {
  fill: var(--footer_content_color);
}

.footer__site_page .social-links__icon:hover svg {
  fill: var(--footer_bg_color)
}

.footer__site_page .social-links__icon:hover {
  background-color: var(--footer_content_color);
}
