.two_col_sidebar_sec .two_col_main_container {
  display: flex;
  flex-wrap: wrap;
}
.two_col_sidebar_sec .left_container {
  width: 75%;
}
.two_col_sidebar_sec .right_container {
  width: 25%;
  padding: 18px;
  position: relative;
}
.two_col_sidebar_sec .left_container_inner {
  padding: 0 13px;
}
.two_col_sidebar_sec .right_container_inner {
  border-left: 5px solid #106c7b;
  padding: 16px;
  border-radius: 3px;
  position: sticky;
  top: 160px;
  right: 0;
}
.two_col_sidebar_sec .heading_text {
  max-width: 640px;
}
.two_col_sidebar_sec .heading_text h1 {
  margin: 0;
  padding: 0 0 36px 0;
}
.two_col_sidebar_sec .text_content {
  padding: 24px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.two_col_sidebar_sec .text_content p {
  margin: 0 0 27px;
}
.two_col_sidebar_sec .icon_text_card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px;
}
.two_col_sidebar_sec .icon_text_card:last-child {
  margin: 0;
}
.two_col_sidebar_sec .icon {
  margin-right: 20px;
}
.two_col_sidebar_sec .icon svg {
  width: 24px;
  height: 24px;
  color: #313f1f;
}
.two_col_sidebar_sec .text p {
  margin: 0;
  color: #000;
}
.two_col_sidebar_sec .text a {
  color: #333;
  margin: 0;
}
.two_col_sidebar_sec .address_group_inner {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 0 30px;
}
.two_col_sidebar_sec .address_group_inner:last-child {
  margin: 0;
}
.two_col_sidebar_sec .button_content a {
  width: 100%;
  margin: 0 0 30px;
  padding: 25px 40px;
}

@media only screen and (max-width: 991px) {
  .two_col_sidebar_sec .left_container {
    width: 100%;
    margin: 0 0 20px;
  }
  .two_col_sidebar_sec .right_container {
    width: 100%;
    border-radius: 3px;
    padding: 0;
  }
  .two_col_sidebar_sec .right_container_inner {
    position: unset;
    /* padding:4px; */
  }
  .two_col_sidebar_sec .address_group_inner {
    width: 100%;
  }
  .two_col_sidebar_sec .button_content a {
    justify-content: center;
  }
  .two_col_sidebar_sec .left_container_inner {
  padding: 0;
}
.two_col_sidebar_sec .text_content {
  padding: 24px 0 0;
}
}

@media only screen and (max-width: 767px) {
  .two_col_sidebar_sec .right_container_inner {
    padding:4px;
  }
}
