<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8" />
    {% if page_meta.html_title or pageTitle %}
    <title>{{ page_meta.html_title or pageTitle }}</title>
    {% endif %} 
    {% if brand_settings.favicon.src %}
    <link rel="shortcut icon" href="{{ brand_settings.favicon.src }}" />
    {% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}" />

    <!-- variables.hubl.css -->
    <link
      rel="preload"
      href="{{ get_asset_url('../css/variables.hubl.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ get_asset_url('../css/variables.hubl.css') }}"
      media="print"
      onload="this.media='all'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="{{ get_asset_url('../css/variables.hubl.css') }}"
    /></noscript>

    <!-- default.css -->
    <link
      rel="preload"
      href="{{ get_asset_url('../css/default.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ get_asset_url('../css/default.css') }}"
      media="print"
      onload="this.media='all'"
    />
    <noscript
      ><link rel="stylesheet" href="{{ get_asset_url('../css/default.css') }}"
    /></noscript>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- customStyles.css (use require_css as-is for HubSpot optimization) -->
    {{ require_css(get_asset_url("../css/customStyles.css")) }} {{
    require_css(get_asset_url("../css/theme-overrides.hubl.css")) }} {# To see a
    full list of what is included via standard_footer_includes please reference
    this article:
    https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables
    #} {{ standard_header_includes }}
  </head>
  <body class="body-wrapper {{ builtin_body_classes }}">
    <div id="outer-container">
      {% block header %} {% global_partial path="../partials/header.hubl.html"
      %} {% endblock header %}

      <div id="main-content">{% block body %} {% endblock body %}</div>
      {% block footer %} {% global_partial path="../partials/footer.hubl.html"
      %} {% endblock footer %} {# To see a full list of what is included via
      standard_footer_includes please reference this article:
      https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables
      #} 
      {% set custom_footer_includes = standard_footer_includes|split('\n') %}
    {% for line in custom_footer_includes %}      
      {% unless line is string_containing '242794260.js' %}
        {{line}}
      {% endunless %}      
    {% endfor %}
    <script>
      var scrollPos = 10;
      var counter = 0;
      $(window).scroll(function(){
        var scrollPosCur = $(this).scrollTop();
        if (scrollPosCur > scrollPos && counter == 0) {
          $(".body-wrapper").append('<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/242794260.js"><\/script>');
          counter++; 
        }  
      });
    </script>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
      $("a[href^='#']").click(function () {
        if (
          location.pathname.replace(/^\//, '') ==
            this.pathname.replace(/^\//, '') ||
          location.hostname == this.hostname
        ) {
          var target = $(this.hash);
          target = target.length
            ? target
            : $('[name=' + this.hash.slice(1) + ']');
          var scrollto = target.offset().top - 155; // minus fixed header height
          if (target.length) {
            $('html,body').animate(
              {
                scrollTop: scrollto,
              },
              1000,
            );
            return false;
          }
        }
      });
    </script>
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(window).scrollTop() > 100) {
            $('.header').addClass('small-header');
          } else {
            $('.header').removeClass('small-header');
          }
        });
      });
    </script>

    <script>
      new WOW().init();
    </script>
  </body>
</html>
